- content_for :head do
	= stylesheet_link_tag 'dashboard'

- content_for :body do
	.container
		%h1 Video Processing Dashboard
		= form_for :video, :course => {:controller => 'videos', :action => 'upload'} do |f|
			.form-container
				.form-grid
					.col-xs-12.col-md-12.no-left-padding
						= label :course, :code, 'Course Code'
						= text_field :video, 'code', class: 'form-control inline-block'
					.col-xs-12.col-md-12.no-left-padding
						= label :course, :year, 'Year'
						= text_field :course, 'year', class: 'form-control inline-block'
					.col-xs-12.col-md-12.no-left-padding
					.col-xs-12.col-md-12.no-left-padding
						= label :video, :title, 'Video Title'
						= text_field :video, 'title', class: 'form-control inline-block'
					.col-xs-12.col-md-12.no-left-padding
						= label :video, :description, 'Description'
						= text_field :video, 'description', class: 'form-control inline-block'
					.col-xs-12.col-md-12.no-left-padding
						= label :video, :category_id, 'Category ID'
						= text_field :video, 'category_id', class: 'form-control inline-block'
					.col-xs-12.col-md-12.no-left-padding.tags
						= label :video, :tags, 'Tags'
						= text_field :video, 'tags', class: 'form-control inline-block'
				.col-xs-12.col-md-12.no-left-padding
					%br
					= submit_tag 'Upload', class: 'btn btn-default inline-block'
